<div class="d-flex align-items-center justify-content-center" >
  <div class="form p-4 shadow-sm inner" style="height: 400px; width: 500px;">
    <form #categorieForm="ngForm" (ngSubmit)="onSubmit(categorieForm)" *ngIf="categorie">
      <div class="m-4">
        <label for="nom" class="form-label">Nom</label>
        <input [(ngModel)]="categorie.nom" name="nom" class="form-control" type="text" id="nom" placeholder="Entrer un nom" required />
      </div>
      <div class="m-4">
        <label for="description" class="form-label">Description</label>
        <input [(ngModel)]="categorie.description" name="description" class="form-control" type="text" id="description" placeholder="Entrer une description" required />
      </div>
      <button type="submit" class="btn green w-100" [disabled]="categorieForm.invalid">{{ categorie.id ? 'Mettre à jour' : 'Créer' }}</button>
    </form>  
     <div *ngIf="errorMessage" class="alert alert-danger mt-3" style="border-radius: 20px;">
    {{ errorMessage }}
  </div>
  </div> 
</div>
